*{
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    background-image: url('https://source.unsplash.com/1920x1080/?riodejaneiro');
    
}
.card-container{
    background-color: rgba(17, 62, 102, 0.878);
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    color: rgb(233, 233, 233);
    margin: 2em;
    padding: 1em;
    
    
}
.search {
    display: flex;
    margin-bottom: 1em;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.search-bar {
    padding: .8em;
    border: none;
    outline: none;
    border-radius: 28px;
    width: 200px;
    background-color:rgba(89, 87, 87, 0.580);
    text-transform: capitalize;
}
.btn{

    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor:pointer;
    background-color:rgba(89, 87, 87, 0.580);
    
}
.btn:hover{
    background-color: rgba(255, 255, 255, 0.700);
}
.flex{
    display: flex;
    align-items: center;
    text-transform: capitalize;

}

.city{
    font-size: 1.7em;
    font-weight: 500;
}
.temperature{
    font-size: 3em;
    font-weight: 500;
    margin: .2em 0;
}

.feels-like, .clouds, .humidity, .wind{
    margin-left: .4em;
    font-size: 1.1em;

}
